@page
@model LibraryManagement.UI.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Wylogowywanie";
}

<h2>Wylogowywanie...</h2>
<p>Za chwilę zostaniesz wylogowany i przekierowany do strony logowania.</p>
