@page
@model LibraryManagement.UI.Pages.Admin.Books.IndexModel

<h1>Lista książek</h1>
<a asp-page="Edit" class="btn btn-success mb-3">Dodaj książkę</a>

<table class="table">
   
    <tbody>
        @if (Model.Books.Count == 0)
        {
            <tr>
                <td colspan="3">Brak książek w bazie.</td>
            </tr>
        }
        else
        {
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.AuthorName</td>   
                    <td>
                        <a asp-page="Edit" asp-route-id="@book.Id">Edytuj</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
