@page
@model LibraryManagement.UI.Pages.Admin.Books.IndexModel

<h1>Lista książek</h1>
<a asp-page="Create" class="btn btn-success mb-3">Dodaj książkę</a>

<table class="table">
   
    <tbody>
        @if (Model.Books.Count == 0)
        {
            <tr>
                <td colspan="3">Brak książek w bazie.</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.AuthorName</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edytuj</a>
                        |
                        <form method="post"
                              asp-page-handler="Delete"
                              asp-route-id="@item.Id"
                              style="display:inline"
                              onsubmit="return confirm('Na pewno usunąć tę książkę?');">
                            <button type="submit" class="btn btn-link p-0">Usuń</button>
                        </form>
                    </td>
                </tr>
            }


        }
    </tbody>
</table>
