@page
@model LibraryManagement.UI.Pages.Admin.Books.IndexModel

@{
    ViewData["Title"] = "Welcome";
}

<h1 class="display-4 text-center mt-5">Welcome</h1>
<p class="text-center">Welcome to the Library Management system.</p>
